/* Structure */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header {
}

#content {
	padding-bottom: 0px;   /* Height of the footer element */
}

#footer {
	width: 100%;
	height: 100px;
}

/* Site specific */
#map
{ 
	width: 500px; 
	height: 300px;
}